src/main/mule/hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="838c8fbe-9ec3-4a4e-83c6-f43da0434a22" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="38c0f30a-fc9e-4ce5-aa4f-8764ecd8377c" file="mule-app.properties" />
	<flow name="hello-worldFlow" doc:id="760d9096-23d0-4efb-b5ce-3f975eac3590" >
		<http:listener doc:name="GET /helloWorld" doc:id="1770f761-11b1-4a41-b20a-31c0e6972c14" config-ref="HTTP_Listener_config" path="/helloWorld"/>
		<set-variable value="#[attributes.queryParams.'name' default 'No name']" doc:name="Set Name" doc:id="bb2a2463-72c7-4aac-9a07-8120634a6f97" variableName="name"/>
		<ee:transform doc:name="Transform Message" doc:id="f374c595-0d8e-430b-a980-b0126c65db52" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: 'Hello ' ++ vars.name
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
